*.py[cod]

# C extensions
*.so

# Packages
.idea
.idea/
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#Qt Creator
/XMLWidget/build-XMLWidget-Desktop_Qt_5_2_1_clang_64bit-Debug/
/XMLWidget/XMLWidget.pro.user

#Data Output
Data_Output/Simulation_Data/